body {
    font-family: "Raleway", sans-serif;
    color: #445361;
}

.heading {
    text-align: center;
    font-size: 2.5em;
}

.square-sum {
    width: 33%;
    float: left;
    text-align: left;
}

.square-diff {
    width: 33%;
    margin: 0 auto;
    text-align: left;
}

.square-conjugate {
    width: 33%;
    float: right;
    text-align: left;
}

.equation {
    padding-top: 20px;
}

.input-box {
    height: 20px;
    width: 50px;
    text-align: center;
}


#practice-area {
    padding-top: 30px;
    padding-left: 30px;
}

#challenge-area {
    padding-top: 30px;
    padding-left: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

