body {
    font-family: "Raleway", sans-serif;
    color: #445361;
}

.heading {
    text-align: center;
    font-size: 2.5em;
}

.square-sum {
    width: 33%;
    float: left;
    text-align: left;
}

.square-diff {
    width: 33%;
    margin: 0 auto;
    text-align: left;
}

.square-conjugate {
    width: 33%;
    float: right;
    text-align: left;
}

.equation {
    padding-top: 20px;
}

.input-box {
    height: 20px;
    width: 50px;
    text-align: center;
}

#theory {
    padding-top: 30px;
    padding-left: 30px;
}

#practice-area {
    padding-top: 30px;
    padding-left: 30px;
}

#input-user-number::after {
    content: "The number must not be a multiple of 10 and should preferably be between 11 and 105.";
    display: block;
    font-size: 0.8em;
    font-weight: 900;
    position: relative;
    bottom: -0.5em;
    padding-bottom: 20px;
}

#challenge-area {
    padding: 30px;
    display: inline-block;
}

#score-area {
    padding: 30px;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 900;
}

#correct {
    color: rgb(3, 250, 24);
}

#button-start-game::after {
    content: "Answer the question below and press ENTER";
    display: block;
    font-size: 0.8em;
    font-weight: 900;
    position: relative;
    bottom: -0.5em;
    padding-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

