body {
    font-family: "Raleway", sans-serif;
    color: #445361;
}

.heading {
    text-align: center;
    font-size: 2.5em;
}

.square-sum {
    width: 33%;
    float: left;
    text-align: left;
}

.square-diff {
    width: 33%;
    margin: 0 auto;
    text-align: left;
}

.square-conjugate {
    width: 33%;
    float: right;
    text-align: left;
}

.equation {
    padding-top: 25px;
}

.input-box {
    height: 20px;
    width: 50px;
    text-align: center;
}

#theory {
    width: 85%;
    padding-top: 30px;
    margin: 0 auto;
}

#practice-area {
    width: 85%;
    padding-top: 30px;
    margin: 0 auto;
    clear: both;
}

#input-user-number::after {
    content: "The number must not be a multiple of 10 and should preferably be between 11 and 105.";
    display: block;
    font-size: 0.8em;
    font-weight: 900;
    position: relative;
    bottom: -0.5em;
    padding-bottom: 20px;
}

#challenge-area {
    width: 85%;
    padding-top: 30px;
    margin: 0 auto;
    clear: both;
}

#question-area {
    display: inline-block;
    padding-right: 30px;
}

#score-area {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 900;
    padding-top: 30px;
}

#correct {
    color: rgb(3, 250, 24);
}

#button-start-game::after {
    content: "Answer the question below and press ENTER";
    display: block;
    font-size: 0.8em;
    font-weight: 900;
    position: relative;
    bottom: -0.5em;
    padding-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1000px) {
    .square-sum {
        width: 50%;
        float: left;
        text-align: center;
    }
    
    .square-diff {
        width: 50%;
        margin: 0 0 0 auto;
        text-align: center;
    }
    
    .square-conjugate {
        width: 100%;
        float: left;
        text-align: center;
    }  
}

@media (max-width: 700px) {
    .square-sum {
        width: 100%;
        float: left;
    }
    
    .square-diff {
        width: 100%;
        float: left;
    }
    
    .square-conjugate {
        width: 100%;
        float: left;
    }  
    body {
        text-align: center;
    }
}

